.heading{
    /* font-size: 30px; */
    color: aliceblue;
    background-color: rgb(95, 58, 58) ;
    padding: 8%;
    border-radius:20px 0px 20px 0px;
    
}
/* .email{
    color: rgb(0, 0, 0);
    padding: 1%;
    border-radius: 15%;
    background-color: rgb(255, 255, 255);
} */
.forms{
    background-color: black;
    color: white;
}
.divs{
   background-color:   #17a2b8;
}
.page{
   background-color: rgba(115, 111, 111, 0.9);
  
}
.page2{
    background-color: blue;
}
.hed{
    text-align: end;
    text-emphasis-color: red;

}

